# For Loop

In [1]:
data='python'

In [2]:
data[0]

'p'

In [3]:
data[-1]

'n'

In [4]:
for x in data:
    print(x)

p
y
t
h
o
n

In [5]:
range(10)

range(0, 10)

In [6]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [7]:
for x in range(6):
    print(data[x])

p
y
t
h
o
n

In [14]:
data ='i love data science so much'
for x in range(len(data)):
    print(data[x])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [15]:
data.split()

['i', 'love', 'data', 'science', 'so', 'much']

In [16]:
data ='i love data science so much'
data = data.split()
for x in range(len(data)):
    print(data[x],x)

i 0
love 1
data 2
science 3
so 4
much 5

In [17]:
data[1]

'love'

In [23]:
n= [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    print(total,x)
print('total',total)

2 2
5 3
9 4
64 55
124 60
201 77
301 100
total 301

In [25]:
for i in range (10):
    print('data science')

data science
data science
data science
data science
data science
data science
data science
data science
data science
data science

In [26]:
for i in range(5,10):  #n-1
    print('data science',i)

data science 5
data science 6
data science 7
data science 8
data science 9

In [27]:
for i in range(5,10,2): #i =i+2
    print('data science',i)

data science 5
data science 7
data science 9

In [28]:
for i in range(100,50,-10):  #i =i+2
    print('data science', i)

data science 100
data science 90
data science 80
data science 70
data science 60

In [31]:
for i in range(100,0,-1):   #i =i+1
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [32]:
for i in range(1,100,1): #i =i+1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [33]:
for i in range(1,100,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [34]:
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99